Pull total number of orders that were completed on 18th March 2023
* Pull total number of orders that were completed on 18th March 2023 with the first name ‘John’ and last name Doe’
* Pull total number of customers that purchased in January 2023 and the average amount spend per customer
* Pull the departments that generated less than $600 in 2022
* What is the most and least revenue we have generated by an order
* What were the orders that were purchased in our most lucrative order

TABLE INFO :
SALES – Date, Order_id, Item_id, Customer_id, Quantity, Revenue
ITEMS – Item_id, Item_name, price, department
CUSTOMERS- customer_id, first_name,last_name,Address


Small Dataset can be generated using chatgpt.

In [ ]:
Date	Order_id	Item_id	Customer_id	Quantity	Revenue
2023-03-18	1	101	1001	2	300
2023-03-18	2	102	1002	1	150
2023-01-15	3	103	1003	5	200
2023-01-20	4	104	1001	3	450
2022-12-10	5	105	1004	2	100
ITEMS Table
Item_id	Item_name	Price	Department
101	Widget A	150	Electronics
102	Widget B	150	Apparel
103	Gadget C	40	Electronics
104	Gadget D	150	Apparel
105	Tool E	50	Home Goods
CUSTOMERS Table
Customer_id	First_name	Last_name	Address
1001	John	Doe	123 Elm St
1002	Jane	Smith	456 Oak Ave
1003	Alice	Johnson	789 Maple Rd
1004	Bob	Brown	321 Pine Ln

In [ ]:
SELECT COUNT(Order_id) AS total_orders
FROM SALES
WHERE Date = '2023-03-18';

In [ ]:
SELECT COUNT(S.Order_id) AS total_orders
FROM SALES S
JOIN CUSTOMERS C ON S.Customer_id = C.Customer_id
WHERE S.Date = '2023-03-18' AND C.First_name = 'John' AND C.Last_name = 'Doe';

In [ ]:
SELECT COUNT(DISTINCT Customer_id) AS total_customers,
       AVG(Revenue) AS avg_spend_per_customer
FROM SALES
WHERE Date BETWEEN '2023-01-01' AND '2023-01-31';

In [ ]:
SELECT I.Department, SUM(S.Revenue) AS total_revenue
FROM SALES S
JOIN ITEMS I ON S.Item_id = I.Item_id
WHERE S.Date BETWEEN '2022-01-01' AND '2022-12-31'
GROUP BY I.Department
HAVING total_revenue < 600;

In [ ]:
SELECT MAX(Revenue) AS max_revenue, MIN(Revenue) AS min_revenue
FROM SALES;

In [ ]:
SELECT S.Order_id, I.Item_name, S.Quantity, S.Revenue
FROM SALES S
JOIN ITEMS I ON S.Item_id = I.Item_id
WHERE S.Order_id = (
    SELECT Order_id
    FROM SALES
    ORDER BY Revenue DESC
    LIMIT 1
);